html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #000;
}

.swarm {
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
}

.boid {
    position: absolute;
    will-change: transform;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-border-radius: 50% 50% 50% 50% / 90% 90% 10% 10%;
    border-radius: 50% 50% 50% 50% / 90% 90% 10% 10%;
    -webkit-user-select: none;
    user-select: none;
    background-color: #fff;
}